// HELPERS CLASSES
.desc{
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

// ==================== MAIN ====================

.main{
  min-height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

// ==================== MAIN__TITLE-WRAPPER ====================

.main__title-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.main__title{
  display: block;
  font-size: 4rem;
  font-weight: 900;
  @include smMin{
    font-size: 5rem;
  }
}

.main__desc{
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  span{
    color: red;
  }
}

// ==================== MAIN__LINE ====================

.main__line{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba($white, 0), rgba($white, 0.75), rgba($white, 0));
}

// ==================== MAIN__TASK ====================

.main__task{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 20px;
}

.main__task-lable{
  @extend .desc;
  width: 100%;
}

.main__task-input{
  order: 1;
  width: calc(100% - 45px);
  height: 35px;
  color: #111;
  font-size: 1.4rem;
  padding: 5px 15px;
  border-radius: 4px;
  border: 2px solid $white;

  &:focus{
    border-color: $blue;
  }

  &.error{
    border-color: $red;
    + .main__task-error{
      opacity: 1;
    }
  }
}

.main__task-error{
  @extend .desc;
  opacity: 0;
  display: block; // DEFAULT
  order: 3;
  flex: auto;
  color: $red;
  padding: 5px 0 0;
  transition: opacity .2s linear;
}

.main__task-button{
  order: 2;
}

// ==================== MAIN__LIST ====================

.main__list{}

.main__list-title{
  @extend .desc;
  width: 100%;
}

.main__list-items{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main__list-item{
  display: flex;
  justify-content: flex-start;
  min-height: 30px;
  align-items: center;
  margin-bottom: 20px;

  span{
    display: block;
    position: relative;
    font-size: 1.5rem;
    padding-left: 25px;
    // width: calc(100% - 20px - 35px - 35px);
    width: calc(100% - 35px);

    svg{
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
    }
  }

  &.is-done{
    span{
      color: $green;
    }
    svg{
      fill: $green;
    }
    .btn__done{
      opacity: 0;
      visibility: hidden;
    }
  }
}